* {
  font-family: 'roboto', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
a {
  color: #ffffff;
}
/* style for wow animation*/
.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
/* style for Typography */
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 14pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}
.clear {
  clear: both;
}
/* style for

***** body  *****

*/
body {
  background-color: #eae8e7;
  color: #767270;
  text-align: center;
}
body .container {
  margin-top: 24px;
}
/* style for

***** Sidebar  *****

*/
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #5da4d9;
  overflow: hidden;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .feature-img {
  position: relative;
}
.sidebar .heading .feature-img img {
  width: 100%;
}
.sidebar .heading .button-collapse {
  display: block !important;
}
.sidebar .heading .nav-icon {
  position: absolute;
  top: 0;
  padding: 0 16px;
}
.sidebar .heading nav {
  background-color: initial;
  box-shadow: initial;
}
.sidebar .heading nav .button-collapse i {
  height: 30px;
  font-size: 18pt;
  line-height: 24pt;
  background-color: #5da4d9;
  margin-top: 20px;
  padding: 0px 6px;
}
.sidebar .heading nav .side-nav h3 {
  color: #5da4d9;
  padding: 0 15px;
}
.sidebar .heading nav .side-nav li a:hover {
  color: #5da4d9;
}
.sidebar .heading nav .side-nav li:hover {
  background-color: transparent !important;
}
.sidebar .heading .title {
  position: absolute;
  right: 11px;
  bottom: 46px;
}
.sidebar .heading .title span {
  margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.sidebar .icon {
  margin-top: 8px;
}
.sidebar .icon .fa {
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 30px;
}
.sidebar .section-item-details {
  padding-right: 26px;
  margin-bottom: 30px;
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  border-bottom: 1px solid #4783c2;
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4 {
  margin: 0px;
}
.sidebar .work h4 {
  margin-bottom: 0px;
}
.sidebar .address-details h4 {
  margin-top: 0px;
}
.sidebar .address-details h4 span {
  font-size: 10pt;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  background-color: #4783c2;
  height: 2px;
  overflow: visible;
}
.sidebar .skill-line .determinate {
  background-color: #ffffff;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar .skill-line span {
  opacity: initial;
}
/* style for

***** Sections *****

*/
#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}
/* style for

***** Work Experience  *****

*/
.custom-content {
  padding-right: 0px !important;
}
.custom-content-wrapper {
  padding-right: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #bdbdbd;
}
.custom-content-wrapper:last-child {
  border-bottom: initial;
}
.custom-content-wrapper h3 {
  margin: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.custom-content-wrapper h3 span {
  color: #767270;
}
.custom-content-wrapper span {
  color: #5da4d9;
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.custom-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 25px;
}
/* style for

*****  Interests  *****

*/
.interests ul {
  padding-left: 0px;
}
.interests ul li {
  list-style-type: none;
  display: inline-block;
  width: 19%;
}
.interests ul li .fa {
  color: #5da4d9;
  text-align: left;
}
/* style for

***** Portfolio website  *****

*/
.website {
  padding-top: 40px !important;
  padding: 20px;
}
.website span {
  font-size: 12pt;
  line-height: 18pt;
}
.website span a {
  color: #5da4d9;
  word-wrap: break-word;
}
/* style for

***** blog  *****

*/
.post-title {
  margin-top: -5px;
  color: white;
  padding: 20px;
}
.post-title h2 {
  margin: 0px;
  font-size: 14pt;
  line-height: 24pt;
}
.post-title span {
  opacity: 0.7;
}
.blog-post .thumbnail img {
  width: 100%;
  margin-bottom: -2px;
}
.blog-post:nth-child(odd) {
  padding-left: 0px !important;
}
.blog-post:nth-child(even) {
  padding-right: 0px !important;
}
.blog-post:last-child {
  padding-right: 0px !important;
}
#blog-post-1 {
  background-color: #e95855;
}
#blog-post-2 {
  background-color: #707281;
}
#blog-post-3 {
  background-color: #564d52;
}
#blog-post-4 {
  background-color: #47bac9;
}
#blog-post-5 {
  background-color: #68c02e;
}
.post-details {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 24px;
}
.featured-img {
  padding-right: 0px !important;
}
.caption {
  padding-left: 0px !important;
}
#caption .post-details {
  margin-bottom: 0px;
}
.comment .section-wrapper {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.comment .comment-img {
  padding: 10px;
}
.comment .comment-details {
  padding: 10px;
}
.comment .comment-details h4 {
  margin: 0px;
}
.comment .comment-details span {
  font-size: 9pt;
  line-height: 17pt;
}
.comment-form {
  padding-bottom: 0px;
  background-color: #fff;
  padding: 20px 50px !important;
}
/* style for
    **************
   * Cover latter * 
 
*/
.cover-latter {
  padding: 30px;
  margin-right: 5px;
  margin-bottom: 24px;
  background-color: white;
}
.cover-latter strong {
  font-weight: 400;
}
.cover-latter p:last-child {
  margin: 30px 0px;
}
.cover-latter p h2 {
  margin-bottom: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.cover-latter .cover-title span {
  font-size: 12pt;
  line-height: 20pt;
  font-weight: 500;
}
.cover-latter .cover-title h2 {
  font-size: 12pt;
  line-height: 20pt;
  margin-top: 20px;
}
.cover-latter .cover-title h4 {
  font-weight: 500;
}
.cover-latter .cover-title p {
  margin-top: 0px;
}
.cover-latter .signature h4 {
  margin: 0px;
}
/* ***** Contact  *****
*
*/
.section .g-map {
  padding-bottom: 0px !important;
}
.section .g-map #map {
  width: 100%;
  height: 350px;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5da4d9;
}
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #5da4d9;
}
.waves-me:focus {
  background-color: #5da4d9;
  color: #fff;
}
.btn {
  margin-left: 10px;
  background-color: #5da4d9;
}
.btn:hover,
.btn:focus {
  background-color: #5da4d9;
}
.email-success,
.email-failed {
  display: none;
  text-align: left !important;
  margin: 0 0 0 0 !important;
}

#msgSubmit {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.text-danger{
  color: red;
}

.text-success {
  color: #5da4d9 ;
}

.btn.disabled{
    background-color: #5da4d9;
    color: #fff;
    cursor: default;
}

.btn.disabled:focus{
    background-color: #5da4d9;
    color: #fff;
    cursor: default;
}
.btn.disabled:hover{
    background-color: #5da4d9;
    color: #fff;
    cursor: default;
}
